<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxjy.niujingji"> <!-- 友盟统计-START -->
    <uses-sdk android:minSdkVersion="8" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 友盟统计-END -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".commons.App"
        android:allowBackup="true"
        android:icon="@mipmap/njj_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/njj_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.CodeLoginActivity" />
        <activity android:name=".activity.ForgetPwdActivity" />
        <activity android:name=".activity.NewsDetailActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.UpdPasswordActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UpdUserInfoActivity" />
        <activity android:name=".activity.BankCardActivity" />
        <activity android:name=".activity.AddBankCardActivity" />
        <activity android:name=".activity.BalanceActivity" />
        <activity android:name=".activity.AddClientActivity" />
        <activity android:name=".activity.SetBankPwdActivity" />
        <activity android:name=".activity.WithdrawDepositActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.MsgDetailsActivity" />
        <activity android:name=".activity.CustomerActivity" />
        <activity android:name=".activity.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TextLoginActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.UpdBankCardActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ProtocolActivity" />
        <activity
            android:name=".activity.NjjActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.CounselorInfoActivity" />
        <activity android:name=".activity.UpdClientActivity" />

        <!-- 友盟统计-START -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59816d9eaed1795def002216" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Yingyongbao" />
        <!-- 友盟统计-END -->


        <!-- 推送-START -->

        <service
            android:name=".service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".service.IntentService" />

        <!-- 推送-END -->


        <!-- 定位 -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="P1UMcpHSHaEeW2yezEjBtGGx0FGTmrME" />

        <!-- 定位END -->

        <activity android:name=".activity.MsgListActivity" />

        <service android:name=".service.CoreService" />

        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.SearchHouseActivity" />
        <activity android:name=".activity.BuildingDetailActivity" />
        <activity android:name=".activity.RoomDetailActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.GiftPickUpActivity" />
        <activity android:name=".activity.WalletActivity" />
        <!-- 下线 -->
        <activity android:name=".activity.DownLineActivity" />
        <!-- 咯盘 -->
        <activity android:name=".fragment.HousesActivity" />
        <activity android:name=".activity.RecommendingActivity" />
        <activity android:name=".activity.more.DianPuActivity"></activity>
        <activity android:name=".activity.PhotoImageActivity"></activity>
        <activity android:name=".activity.MoreCustomerActivity"></activity>
        <activity android:name=".activity.HuiShouActivity"/>
        <activity android:name=".activity.KeShouActivity"/>
        <activity android:name=".activity.ZhangBenActivity"/>
        <activity android:name=".activity.ZhangBenDetailsActivity"/>
        <activity android:name=".activity.TiXianActivity"/>
    </application>

</manifest>